:root {
    --main_font: 'Montserrat', sans-serif;
    --title_font: "Handlee", cursive;
    --main_color: #fa573a;
    --bg_color: #21242e;
    --font_size: 1rem;
    --max_width: 68.75rem;
    --grid_gap: 1rem;
}

html {
    scroll-behavior: smooth; 
    /* Creates a smoother scroll transition for "long" scrolls as a scroll animation */
}

body {
    font-family: var(--main_font);
    font-size: var(--font_size);
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: var(--max_width);
    margin: 0 auto;
    padding: 0 0.625rem;
}