@import url(meyer_reset.css);
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:ital,wght@0,400..700;1,400..700&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);
@import url(layout.css);
/* ######################### */

/* HEADER - START */
header .header-top {
    background-color: var(--bg_color);
    padding: 1.25rem 0;
}
header .header-top .container {
    display: flex;
    justify-content: space-around;
    & span {
        display: none;
    }
    & i {
        font-size: 140%;
        color: var(--main_color);
    }
}

/* HEADER - FINISH */

/* MEDIA QUERIES - START */
@media (width >= 768px) {
    header .header-top .container {
        justify-content: space-between;
        & span {
            display: inline;
        }
        & a {
            text-decoration: none;
            color: white;
            font-size: 110%;
        }
    }
}
